.full-screen-window{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: flex;
    justify-content: center;
    z-index: 1000;

    .full-screen-window-content{
        align-self: center;
    }
}