.login{
    display: block;
    top: calc(50vh - 100vh/4);
    width: 60%;
    left: 20%;
    position: relative;
    // margin-top: calc((100vh - 276px)/2);

    .error-message{
        padding: 5px 0px 5px 0px;
        color: red;
    }
    fieldset{
        margin: 20px 0px 20px 0px;
    }

    .logo{
        font-size: 4em;
        text-align: center;
    }
}